/*Import font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Meera+Inimai&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    background-image: linear-gradient(#262F2F, #514E53, #262F2F);
}

body::-webkit-scrollbar{
    width: 0;
}

body.conditions{
    overflow-y: hidden;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 22px 0;
    padding: 0 20px;
}

.home header .top{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 0 35px 0;
}

.home header .top section{
    display: flex;
    flex-direction: column;
}

.home header .top section:first-child{
    row-gap: 18px;
    margin: 34px 0 0 0;
}

.home header .top section:first-child img{
    width: 55px;
    min-width: 55px;
    height: 57px;
    min-height: 57px;
}

.home header .top section:first-child .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    opacity: 1;
    transition: opacity 1s ease;
}

.home header .top section:first-child .menu.active{
    opacity: 0;
}

.home header .top section:first-child .menu span{
    height: 3px;
    width: 36px;
    background: #FFF;
}

.home header .top section:last-child{
    align-items: end;
    width: 100%;
    max-width: 190px;
    row-gap: 26px;
    margin: 45px 0 0 0;
}

.home header .top section:last-child input{
    width: 100%;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 9px;
    border: 1px solid #ECEAEC;
}

.home header .top section:last-child input:first-child{
    background: #940000;
    max-width: 78px;
    transition: background .2s;
}

.home header .top section:last-child input:first-child:hover{
    background: #6a0101;
}

.home header .top section:last-child input:last-child{
    background: #242426;
    max-width: 190px;
    transition: background .2s;
}

.home header .top section:last-child input:last-child:hover{
    background: #070707;
}

.home header .bottom{
    width: 100%;
    display: flex;
}

.home header .bottom ul{
    width: 100%;
    display: flex;
    align-items: start;
    column-gap: 20px;
    justify-content: space-between;
}

.home header .bottom ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.home header .bottom ul li:after{
    content: '';
    height: 7px;
    width: 0;
    background-image: linear-gradient(to right,#940000, #27303030);
    margin: 7px 0 0 0;
    transition: width .4s;
}

.home header .bottom ul li:hover::after{
    width: 120%;
}

.home header .bottom ul li.active:after{
    width: 120%;
}

.home .section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home .section .title{
    padding: 0 20px;
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home .section hr{
    height: 1px;
    width: 100%;
    border-color: #979198;
    margin: 0 0 15px 0;
}

.home .section .highlights{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    overflow-x: auto;
    margin: 0 0 38px 0;
    cursor: pointer;
}

.home .section .highlights::-webkit-scrollbar{
    height: 0px;
}

.home .section .highlights .highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.home .section .highlights .highlight div{
    width: 78px;
    min-width: 78px;
    height: 78px;
    min-height: 78px;
    border-radius: 50%;
    position: relative;
    transition: transform 2s;
}

.home .section .highlights .highlight:hover div{
    transform: rotateY(180deg);
}

.home .section .highlights .highlight.on div{
    border: 3px solid #50AD51;
}

.home .section .highlights .highlight.off div{
    background: #6F7374;
    border: 3px solid #940000;
}

.home .section .highlights .highlight div::after{
    content: '';
    width: 62px;
    min-width: 62px;
    height: 62px;
    min-height: 62px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.home .section .highlights .highlight.on div::after{
    background-image: linear-gradient(#CCCECE, #A4A7A8);
}

.home .section .highlights .highlight.off div::after{
    background-image: linear-gradient(#DCDDDD, #B5B7B7);
}

.home .section .highlights .highlight h1{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home .section .streamers{
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
    gap: 11px;
    margin: 0 0 55px 0;
}

.home .section .streamers .streamer{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 243px;
    width: 100%;
    background: gray;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.home .section .streamers .streamer .infos{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.home .section .streamers .streamer .infos h1{
    color: #FFF;
    font-family: "Meera Inimai", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home .section .streamers .streamer .infos .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    min-width: 58px;
    height: 58px;
    min-height: 58px;
    border-radius: 50px;
}

.home .section .streamers .streamer.on .infos .profile{
    border: 5px solid #50AD51;
}

.home .section .streamers .streamer.off .infos .profile{
    border: 5px solid #940000;
}

.home .section .streamers .streamer .infos .profile div img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #FFF;
}

.home .section .streamers .streamer .infos .profile div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .baseboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .baseboard hr{
    width: 160px;
    border-color: #979198;
}

footer .baseboard section{
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .baseboard section h1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 25px 0 20px 0;
}

footer .baseboard section a{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 10px 0;
    text-decoration: none;
    transition: color .4s;
}

footer .baseboard section a:hover{
    color: #940000;
}

footer .baseboard section a:last-child{
    margin: 0 0 25px 0;
}

footer .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .bottom img{
    width: 37px;
    min-width: 37px;
    height: 37px;
    min-height: 37px;
    margin: 27px 0;
}

footer .bottom p{
    max-width: 260px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;
}

footer .bottom p:last-child{
    margin: 0 0 34px 0;
}

.menu-mobile-container{
    height: 100vh;
    width: 116px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: start;
    padding: 60px 0;
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: 2;
}

.menu-mobile-container.active{
    transform: translateX(0);
}

.menu-mobile-container .mobile{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 50px 8px 26px;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(81, 78, 83, 0.80) 0%, rgba(38, 47, 47, 0.80) 100%);
}

.menu-mobile-container .mobile::-webkit-scrollbar{
    width: 0;
}

.menu-mobile-container .mobile .hamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 0 65px 0;
}
    
.menu-mobile-container .mobile span{
    height: 3px;
    width: 36px;
    background: #FFF;
}

.menu-mobile-container .mobile .option{
    width: 100%;
    max-height: 94px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    border: 1px solid #979198;
    padding: 0 8px 8px;
    margin: 0 0 15px 0;
    cursor: pointer;
    transition: background .4s;
}

.menu-mobile-container .mobile .option:hover{
    background: #940000;
}

.menu-mobile-container .mobile .option:last-child{
    margin: 0;
}

.menu-mobile-container .mobile .logo{
    width: 109px;
    min-width: 109px;
    height: 113px;
    min-height: 113px;
    margin: 0 0 32px 0;
    display: none;
    animation: rotateContent linear infinite 8s;
}

.menu-mobile-container .mobile .option h1{
    color: #FFF;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-mobile-container .mobile .option.homee img{
    width: 38px;
    min-width: 38px;
    height: 43px;
    min-height: 43px;
    margin: 12px 0 0 0;
}
.menu-mobile-container .mobile .option.search img{
    width: 38px;
    min-width: 38px;
    height: 43px;
    min-height: 43px;
    margin: 16px 0 0 0;
}
.menu-mobile-container .mobile .option.models img{
    width: 38px;
    min-width: 38px;
    height: 49px;
    min-height: 49px;
    margin: 13px 0 0 0;
}
.menu-mobile-container .mobile .option.favorites img{
    width: 38px;
    min-width: 38px;
    height: 32px;
    min-height: 32px;
    margin: 12px 0 0 0;
}
.menu-mobile-container .mobile .option.suporte img{
    width: 38px;
    min-width: 38px;
    height: 38px;
    min-height: 38px;
    margin: 20px 0 0 0;
}
.menu-mobile-container .mobile .option.avaliation img{
    width: 38px;
    min-width: 38px;
    height: 36px;
    min-height: 36px;
    margin: 18px 0 0 0;
}
.menu-mobile-container .mobile .option.events img{
    width: 38px;
    min-width: 38px;
    height: 38px;
    min-height: 38px;
    margin: 18px 0 0 0;
}
.menu-mobile-container .mobile .option.streamings img{
    width: 38px;
    min-width: 38px;
    height: 47px;
    min-height: 47px;
    margin: 10px 0 0 0;
}

@media(max-width: 350px){
    .home header{
        padding: 0 10px;
    }

    .home .section .title{
        padding: 0 10px;
    }

    .home .section .highlights{
        padding: 0 10px;
    }

    .home .section .streamers{
        padding: 0 10px;
    }

    .home header .bottom ul li{
        font-size: 14px;
    }
}

@media(min-width: 715px){
    .home{
        margin: 0 0 0 auto;
        padding: 0 0 0 180px;
    }

    .home .section hr{
        margin: 0 0 20px 0;
    }

    .home .section .streamers{
        padding: 0 20px 0 0;
        margin: 0 0 140px 0;
    }

    .home .section .highlights{
        padding: 0 20px 0 0;
    }

    .home header .top section:first-child{
        display: none;
    }

    .home header .top section:last-child{
        margin: 45px 0 0 auto;
        max-width: unset;
    }

    .home header .top section:last-child input{
        height: 45px;
        color: #FFF;
        text-align: center;
        font-family: "Istok Web", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }

    .home header .top section:last-child input:first-child{
        width: 105px;
        max-width: unset;
    }

    .home header .top section:last-child input:last-child{
        width: 236px;
        max-width: unset;
    }

    .home header .bottom ul li{
        color: #FFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer .baseboard hr{
        width: 359px;
    }

    footer .bottom p{
        max-width: unset;
    }

    .home .section .highlights .highlight div {
        width: 100px;
        min-width: 100px;
        height: 100px;
        min-height: 100px;
    }

    .home .section .highlights .highlight div::after {
        width: 80px;
        min-width: 80px;
        height: 80px;
        min-height: 80px;
        left: 7px;
        bottom: 7px;
    }

    .menu-mobile-container{
        width: 109px;
        left: 35px;
        transform: rotateX(0);
        padding: 0;
        background: unset;
    }

    .menu-mobile-container .mobile{
        background: unset;
        padding: 35px 0 35px;
    }

    .menu-mobile-container .mobile .logo{
        display: flex;
    }

    .menu-mobile-container .mobile .hamburguer{
        margin: 0 0 35px 0;
    }

    .menu-mobile-container .mobile .option{
        width: 100px;
        max-width: 100px;
        min-width: 100px;
        height: 95px;
        max-height: 95px;
        min-height: 95px;
    }

    .home header {
        padding: 0 20px 0 0;
    }

    .home .section .title {
        padding: 0;
    }
}

@media(min-width: 1440px){
    .home{
        padding: 0 0 0 230px;
    }

    .menu-mobile-container{
        width: 160px;
    }

    .menu-mobile-container .mobile .logo{
        width: 160px;
        min-width: 160px;
        height: 166px;
        min-height: 166px;
        margin: 0 0 46px 0;
    }

    .menu-mobile-container .mobile .hamburguer{
        row-gap: 15px;
        margin: 0 0 50px 0;
    }

    .menu-mobile-container .mobile .hamburguer span{
        width: 50px;
    }

    .menu-mobile-container .mobile .option {
        width: 138px;
        max-width: 138px;
        min-width: 138px;
        height: 130px;
        max-height: 130px;
        min-height: 130px;
    }

    .menu-mobile-container .mobile .option h1 {
        color: #FFF;
        text-align: center;
        font-family: "Istok Web";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .menu-mobile-container .mobile .option.homee img{
        width: 60px;
        min-width: 60px;
        height: 69px;
        min-height: 69px;
        margin: 16px 0 0 0;
    }
    .menu-mobile-container .mobile .option.search img{
        width: 55px;
        min-width: 55px;
        height: 57px;
        min-height: 57px;
        margin: 22px 0 0 0;
    }
    .menu-mobile-container .mobile .option.models img{
        width: 53px;
        min-width: 53px;
        height: 71px;
        min-height: 71px;
        margin: 13px 0 0 0;
    }
    .menu-mobile-container .mobile .option.favorites img{
        width: 55px;
        min-width: 55px;
        height: 46px;
        min-height: 46px;
        margin: 20px 0 0 0;
    }
    .menu-mobile-container .mobile .option.suporte img{
        width: 55px;
        min-width: 55px;
        height: 55px;
        min-height: 55px;
        margin: 24px 0 0 0;
    }
    .menu-mobile-container .mobile .option.avaliation img{
        width: 69px;
        min-width: 69px;
        height: 66px;
        min-height: 66px;
        margin: 18px 0 0 0;
    }
    .menu-mobile-container .mobile .option.events img{
        width: 61px;
        min-width: 61px;
        height: 61px;
        min-height: 61px;
        margin: 18px 0 0 0;
    }
    .menu-mobile-container .mobile .option.streamings img{
        width: 53px;
        min-width: 53px;
        height: 66px;
        min-height: 66px;
        margin: 15px 0 0 0;
    }

    .menu-mobile-container .mobile {
        background: unset;
        padding: 50px 0;
    }

    .home header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 41px 0;
        padding: 0 35px 0 0;
        column-gap: 20px;
    }

    .home header .top {
        width: unset;
        order: 2;
    }

    .home header .top section:last-child {
        row-gap: 14px;
    }

    .home header .top section:last-child input{
        height: 60px;
        color: #FFF;
        text-align: center;
        font-family: "Istok Web", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .home header .top section:last-child input:first-child {
        width: 138px;
        max-width: unset;
        border: none;
    }

    .home header .top section:last-child input:last-child {
        width: 308px;
        max-width: unset;
        border-radius: 0;
    }

    .home header .bottom{
        max-width: 647px;
        order: 1;
    }

    .home header .top section:last-child {
        margin: 0;
        width: unset;
    }

    .home header .bottom ul li {
        color: #FFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .home .section .title {
        color: #FFF;
        font-family: 'Kodchasan', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .home .section hr {
        margin: 0 0 25px 0;
    }

    .home .section .highlights {
        column-gap: 20px;
    }

    .home .section .highlights .highlight div {
        width: 180px;
        min-width: 180px;
        height: 180px;
        min-height: 180px;
    }

    .home .section .highlights .highlight div::after {
        width: 142px;
        min-width: 142px;
        height: 142px;
        min-height: 142px;
        left: 16px;
        bottom: 16px;
    }

    .home .section .highlights .highlight h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .home .section .streamers {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        row-gap: 16px;
        column-gap: 11px;
    }

    .home .section .streamers .streamer {
        height: 345px;
    }

    .home .section .streamers .streamer .infos .profile {
        width: 81px;
        min-width: 81px;
        height: 81px;
        min-height: 81px;
    }

    .home .section .streamers .streamer .infos .profile div img {
        width: 71px;
        min-width: 71px;
        max-width: 71px;
        height: 71px;
        min-height: 71px;
        max-height: 71px;
    }

    .home .section .streamers .streamer .infos h1 {
        font-size: 18px;
    }

    .home .section .streamers .streamer .infos {
        column-gap: 8px;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    footer .baseboard{
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        max-width: 1108px;
        margin: 0 0 79px 0;
    }

    footer .baseboard hr{
        width: 1px;
        height: 146px;
        margin: auto 0;
    }

    footer .baseboard hr:first-child{
        display: none;
    }
    footer .baseboard hr:last-child{
        display: none;
    }

    footer .baseboard section{
        min-height: unset;
    }

    footer .baseboard section h1 {
        margin: 0 0 17px 0;
    }

    footer .baseboard section a:last-child {
        margin: 0;
    }

    footer .bottom::before{
        content: '';
        width: 358px;
        height: 1px;
        background: #979198;
    }

    footer .bottom p {
        max-width: 1088px;
        width: 100%;
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin: 0 0 84px 0;
    }

    footer .bottom p:last-child {
        display: none;
    }


    footer .bottom p::after {
        content: '© 2024 Todos os direitos reservados';
    }

    footer .bottom p br{
        display: none;
    }

}

/*Style Login Popup*/
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    border: 1px solid #fff;
    overflow-y: auto;
    z-index: 3;
}

.container-login.ocult{
    display: none;
}

.container-login::-webkit-scrollbar{
    width: 0;
}

.login{
    width: 100%;
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.login #close{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    transition: color .4s;
}

.login #close:hover{
    color: #940000;
}

.incorrect{
    font-size: 12px;
    color: red;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 10px 0 0 0;
}

.incorrect.oculted{
    display: none;
}

.login img{
    width: 100px;
    min-width: 100px;
    height: 107px;
    min-height: 107px;
}

.login h1{
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login div{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.login div input{
    height: 45px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 19px 10px;
    background: #242426;
    border: none;
}

.login div input:focus{
    outline: none;
    border: none;
}

.login div input:first-child{
    border-bottom: 1px solid #4B494B !important;
    border-radius: 20px 20px 0 0;
}

.login div input:nth-child(2){
    border-top: 1px solid #4B494B !important;
    border-radius: 0 0 20px 20px;
}

.login div input::placeholder{
    color: #C1BAC2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login a{
    color: #FFF;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.login label{
    width: unset;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.login label input{
    display: none;
}

.login label input:checked ~ div::before{
    opacity: 1;
}

.login label div{
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border: 1px solid #ECEAEC;
    background: #242426;
    position: relative;
    border-radius: 5px;
    margin: 0;
}

.login label div::before{
    content: '';
    opacity: 0;
    height: 9px;
    width: 6px;
    border-right: 2px solid #ECEAEC;
    border-bottom: 2px solid #ECEAEC;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: opacity .4s;
}

.login label p{
    color: #FFF;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login label p a{
    color: #00B2FF;
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.login .b-login{
    height: 45px;
    min-height: 45px;
    width: 125px;
    border-radius: 10px;
    background: #0083CC;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background .2s;
}

.login .b-login:hover{
    background: #016195;
}

@media(max-width: 767px) and (max-height: 540px){
    .login{
        height: 100%;
        padding: 10px 10px;
        row-gap: unset;
        justify-content: space-between;
    }

    @media(max-width: 767px) and (max-height: 460px){
        .login img {
            width: 60px;
            min-width: 60px;
            height: 67px;
            min-height: 67px;
        }

        .login h1 {
            display: none;
        }

        .login div input {
            height: 40px;
        }

        @media(max-width: 767px) and (max-height: 380px){
            .login{
                row-gap: 20px;
            }
        }
    }
}

@media(min-width: 768px){
    .container-login{
        background: #00000090;
        border: none;
    }

    .login{
        height: unset;
        max-width: 360px;
        background: #000;
        border-radius: 30px;
        row-gap: 20px;
        padding: 60px 15px;
    }
    @media(max-width: 1439px) and (max-height: 660px){
        .container-login{
            padding: 15px 20px;
        }

        .login{
            height: 100%;
            justify-content: space-between;
            row-gap: 0;
            padding: 20px 15px;
        }

        @media(max-width: 1439px) and (max-height: 550px){
            .login h1{
                font-size: 20px;
            }

            @media(max-width: 1439px) and (max-height: 520px){
                .login h1{
                    display: none;
                }
                
                .login div input {
                    height: 40px;
                }

                .login img {
                    width: 60px;
                    min-width: 60px;
                    height: 67px;
                    min-height: 67px;
                }

                @media(max-width: 1439px) and (max-height: 410px){
                    .login{
                        padding: 10px 15px;
                    }

                    @media(max-width: 1439px) and (max-height: 390px){
                        .login{
                            padding: 20px 15px;
                            row-gap: 20px;
                            overflow-y: auto;
                        }

                        .login::-webkit-scrollbar{
                            width: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1440px){
    .login{
        padding: 55px 15px 40px;
        row-gap: 40px;
    }

    .login img{
        width: 200px;
        min-width: 200px;
        height: 214px;
        min-height: 214px;
    }

    .login h1{
        color: #FFF;
        font-family: 'Kodchasan', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @media(min-width: 769px) and (max-height: 880px){
        .container-login{
            padding: 45px 15px;
        }

        .login{
            height: 100%;
            row-gap: unset;
            justify-content: space-between;
        }

        @media(min-width: 769px) and (max-height: 770px){
            .container-login{
                padding: 20px 15px;
            }

            .login{
                padding: 20px 15px;
                height: 100%;
                row-gap: unset;
                justify-content: space-between;
            }

            @media(min-width: 769px) and (max-height: 650px){
                .login img{
                    width: 100px;
                    min-width: 100px;
                    height: 107px;
                    min-height: 107px;
                }

                .login h1{
                    font-size: 32px;
                }

                @media(min-width: 769px) and (max-height: 550px){
                    .login h1{
                        font-size: 20px;
                    }
        
                    @media(min-width: 769px) and (max-height: 520px){
                        .login h1{
                            display: none;
                        }
                        
                        .login div input {
                            height: 40px;
                        }
        
                        .login img {
                            width: 60px;
                            min-width: 60px;
                            height: 67px;
                            min-height: 67px;
                        }
        
                        @media(min-width: 769px) and (max-height: 410px){
                            .login{
                                padding: 10px 15px;
                            }
        
                            @media(min-width: 769px) and (max-height: 390px){
                                .login{
                                    padding: 20px 15px;
                                    row-gap: 20px;
                                    overflow-y: auto;
                                }
        
                                .login::-webkit-scrollbar{
                                    width: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Animations */
@keyframes rotateContent {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}