/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Inter:wght@100..900&family=Alatsi&family=Inder&family=Istok+Web:wght@400;700&family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Meera+Inimai&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Global Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    background-image: linear-gradient(#262F2F, #514E53, #262F2F);
}

body::-webkit-scrollbar{
    width: 0;
}

body.conditions{
    overflow-y: hidden;
}

/*Style Home Page*/
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 20px;
}

.home header{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 18px 0;
    padding: 0 15px;
}

.home header .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px 0;
}

.home header .top img{
    opacity: 1;
    width: 60px;
    min-width: 60px;
    height: 64px;
    min-height: 64px;
    cursor: pointer;
    animation: rotateContent 8s linear infinite;
    transition: opacity 1s;
}

.home header .top img.active{
    opacity: 0;
}

.home header .top section{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.home header .top section input{
    width: 100%;
    height: 30px;
    padding: 0 8px;
    color: #FFF;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.home header .top section a input:first-child{
    background: #242426;
    max-width: 190px;
    transition: background .2s;
}

.home header .top section a input:first-child:hover{
    background: #070707;
}

.home header .top section input:last-child{
    background: #940000;
    max-width: 78px;
    transition: background .2s;
}

.home header .top section input:last-child:hover{
    background: #6a0101;
}

.home header .bottom{
    width: 100%;
    display: flex;
}

.home header .bottom ul{
    width: 100%;
    display: flex;
    align-items: start;
    column-gap: 20px;
    justify-content: space-between;
}

.home header .bottom ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.home header .bottom ul li:after{
    content: '';
    height: 7px;
    width: 0;
    background-image: linear-gradient(to right,#940000, #27303030);
    margin: 3px 0 0 0;
    transition: width .4s;
}

.home header .bottom ul li:hover::after{
    width: 110%;
}

.home header .bottom ul li.active:after{
    width: 110%;
}

.home .section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home .section .title{
    padding: 0 15px;
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home .section hr{
    height: 1px;
    width: 100%;
    border-color: #979198;
    margin: 0 0 15px 0;
}

.home .section .highlights{
    width: 100%;
    padding: 0 8px 0 15px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    overflow-x: auto;
    margin: 0 0 18px 0;
    cursor: grab;
}

.home .section .highlight{
    cursor: pointer;
}


.home .section .highlights::-webkit-scrollbar{
    height: 0px;
}

.home .section .highlights .highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.home .section .highlights .highlight div{
    width: 78px;
    min-width: 78px;
    height: 78px;
    min-height: 78px;
    border-radius: 50%;
    position: relative;
    transition: transform 2s;
}

.home .section .highlights .highlight:hover div{
    transform: rotateY(180deg);
}

.home .section .highlights .highlight.on div{
    border: 3px solid #50AD51;
}

.home .section .highlights .highlight.off div{
    background: #6F7374;
    border: 3px solid #940000;
}

.home .section .highlights .highlight div::after{
    content: '';
    width: 62px;
    min-width: 62px;
    height: 62px;
    min-height: 62px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.home .section .highlights .highlight.on div::after{
    background-image: linear-gradient(#CCCECE, #A4A7A8);
}

.home .section .highlights .highlight.off div::after{
    background-image: linear-gradient(#DCDDDD, #B5B7B7);
}

.home .section .highlights .highlight h1{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home .section .streamers{
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    gap: 11px;
    margin: 0 0 40px 0;
}

.home .section .streamers .streamer{
    display: flex;
    align-items: end;
    justify-content: end;
    height: 243px;
    width: 100%;
    background: gray;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    padding: 6px 5px;
}

.home .section .streamers .streamer .infos{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}

.home .section .streamers .streamer .infos .name{
    max-width: calc(100% - 5px);
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
    height: 17px;
    border-radius: 300px;
    background: rgba(217, 217, 217, 0.50);
    padding: 10px 8px 10px 44px;
    z-index: -1;
}

.home .section .streamers .streamer .infos h1{
    color: #000;
    font-family: "Meera Inimai", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home .section .streamers .streamer .infos .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    min-width: 44px;
    height: 44px;
    min-height: 44px;
    border-radius: 50%;
}

.home .section .streamers .streamer.on .infos .profile{
    border: 5px solid #50AD51;
}

.home .section .streamers .streamer.off .infos .profile{
    border: 5px solid #940000;
}

.home .section .streamers .streamer .infos .profile div img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    min-width: 38px;
    height: 38px;
    min-height: 38px;
    max-height: 38px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #FFF;
}

.home .section .streamers .streamer .infos .profile div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    width: 100%;
}

footer .baseboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .baseboard hr{
    width: 100%;
    border-color: #979198;
}

footer .baseboard section{
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .baseboard section h1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0 10px 0;
}

footer .baseboard section a{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 8px 0;
    text-decoration: none;
    transition: color .4s;
}

footer .baseboard section a:hover{
    color: #940000;
}

footer .baseboard section a:last-child{
    margin: 0 0 25px 0;
}

footer .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13px;
}

footer .bottom img{
    width: 37px;
    min-width: 37px;
    height: 37px;
    min-height: 37px;
    margin: 27px 0;
}

footer .bottom p{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;
}

footer .bottom p:last-child{
    margin: 0;
}

.menu-mobile-container{
    height: 100vh;
    width: 84px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: start;
    transform: translateX(-100%);
    transition: transform 1s ease;
    z-index: 2;
}

.menu-mobile-container.active{
    transform: translateX(0);
}

.menu-mobile-container .mobile{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 14px 14px 100px;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(81, 78, 83, 0.80) 0%, rgba(38, 47, 47, 0.80) 100%);
}

.menu-mobile-container .mobile::-webkit-scrollbar{
    width: 0;
}

.menu-mobile-container .mobile .hamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0 0 65px 0;
}
    
.menu-mobile-container .mobile span{
    height: 3px;
    width: 36px;
    background: #FFF;
}

.menu-mobile-container .mobile .option{
    width: 100%;
    max-height: 53px;
    min-height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    border: 1px solid #979198;
    padding: 0 8px 8px;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: background .4s;
}

.menu-mobile-container .mobile .option:hover{
    background: #940000;
}

.menu-mobile-container .mobile .option:last-child{
    margin: 0;
}

.menu-mobile-container .mobile .logo{
    width: 60px;
    min-width: 60px;
    height: 64px;
    min-height: 64px;
    margin: 0 0 33px 0;
    cursor: pointer;
    animation: rotateContent linear infinite 8s;
}

.menu-mobile-container .mobile .option h1{
    color: #FFF;
    text-align: center;
    font-family: "Istok Web";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-mobile-container .mobile .option.homee img{
    width: 21px;
    min-width: 21px;
    height: 24px;
    min-height: 24px;
    margin: 8px 0 0 0;
}
.menu-mobile-container .mobile .option.search img{
    width: 21px;
    min-width: 21px;
    height: 22px;
    min-height: 22px;
    margin: 8px 0 0 0;
}
.menu-mobile-container .mobile .option.models img{
    width: 22px;
    min-width: 22px;
    height: 28px;
    min-height: 28px;
    margin: 5px 0 0 0;
}
.menu-mobile-container .mobile .option.favorites img{
    width: 22px;
    min-width: 22px;
    height: 19px;
    min-height: 19px;
    margin: 10px 0 0 0;
}
.menu-mobile-container .mobile .option.suporte img{
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
    margin: 9px 0 0 0;
}
.menu-mobile-container .mobile .option.avaliation img{
    width: 22px;
    min-width: 22px;
    height: 20px;
    min-height: 20px;
    margin: 9px 0 0 0;
}
.menu-mobile-container .mobile .option.events img{
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
    margin: 9px 0 0 0;
}
.menu-mobile-container .mobile .option.streamings img{
    width: 21px;
    min-width: 21px;
    height: 27px;
    min-height: 27px;
    margin: 4px 0 0 0;
}

@media(max-width: 350px){
    .home header{
        padding: 0 10px;
    }

    .home .section .title{
        padding: 0 10px;
    }

    .home .section .highlights{
        padding: 0 10px;
    }

    .home .section .streamers{
        padding: 0 10px;
    }

    .home header .bottom ul li{
        font-size: 14px;
    }
}

@media(min-width: 767px){
    .home .section .highlights{
        padding: 0 10px 0 15px;
        column-gap: 10px;
        margin: 0 0 22px 0;
    }

    .home .section .highlights .highlight div {
        width: 98px;
        min-width: 98px;
        height: 98px;
        min-height: 98px;
    }

    .home .section .highlights .highlight div::after {
        width: 78px;
        min-width: 78px;
        height: 78px;
        min-height: 78px;
        left: 7px;
        bottom: 7px;
    }

    footer .baseboard {
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid #979198;
        border-bottom: 1px solid #979198;
        padding: 10px 30px;
    }

    footer .baseboard hr {
        width: 1px;
        height: 116px;
        margin: 0 auto;
    }

    footer .baseboard hr:first-child {
        display: none;
    }

    footer .baseboard hr:last-child {
        display: none;
    }

    footer .baseboard section a:last-child {
        margin: 0;
    }

    footer .baseboard section h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0 0 5px 0;
    }

    footer .baseboard section a{
        color: #FFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media(min-width: 1440px){
    .menu-mobile-container{
        width: 110px;
        left: 8px;
        transform: translateX(0);
    }

    .menu-mobile-container .mobile {
        padding: 12px 0 100px 0;
        border-radius: 0;
        background-image: unset;
    }

    .menu-mobile-container .mobile .logo{
        width: 110px;
        min-width: 110px;
        height: 118px;
        min-height: 118px;
        margin: 0 0 24px 0;
    }

    .menu-mobile-container .mobile .option {
        width: 95px;
        max-height: 90px;
        min-height: 90px;
        padding: 0 0 10px;
        margin: 0 7px 10px 8px;
    }

    .menu-mobile-container .mobile .option h1{
        color: #FFF;
        text-align: center;
        font-family: "Istok Web", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .menu-mobile-container .mobile .option.homee img{
        width: 40px;
        min-width: 40px;
        height: 46px;
        min-height: 46px;
        margin: 12px 0 0 0;
    }
    .menu-mobile-container .mobile .option.search img{
        width: 35px;
        min-width: 35px;
        height: 36px;
        min-height: 40px;
        margin: 14px 0 0 0;
    }
    .menu-mobile-container .mobile .option.models img{
        width: 36px;
        min-width: 36px;
        height: 46px;
        min-height: 46px;
        margin: 11px 0 0 0;
    }
    .menu-mobile-container .mobile .option.favorites img{
        width: 36px;
        min-width: 36px;
        height: 36px;
        min-height: 36px;
        margin: 14px 0 0 0;
    }
    .menu-mobile-container .mobile .option.suporte img{
        width: 35px;
        min-width: 35px;
        height: 35px;
        min-height: 35px;
        margin: 15px 0 0 0;
    }
    .menu-mobile-container .mobile .option.avaliation img{
        width: 36px;
        min-width: 36px;
        height: 36px;
        min-height: 36px;
        margin: 15px 0 0 0;
    }
    .menu-mobile-container .mobile .option.events img{
        width: 36px;
        min-width: 36px;
        height: 36px;
        min-height: 36px;
        margin: 15px 0 0 0;
    }
    .menu-mobile-container .mobile .option.streamings img{
        width: 35px;
        min-width: 35px;
        height: 44px;
        min-height: 44px;
        margin: 13px 0 0 0;
    }

    .home {
        padding: 0px 25px 20px 137px;
    }

    .home header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 60px 0 15px 0;
    }

    .home header .top {
        width: unset;
        order: 2;
        margin: 0;
    }

    .home header .top img {
        display: none;
    }

    .home header .top section a input:first-child {
        padding: 0 14px;
    }
    
    .home header .bottom {
        order: 1;
    }

    .home header .bottom ul {
        max-width: 750px;
    }

    .home header .bottom ul li {
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .home header .bottom ul li:after {
        margin: 1px 0 0 0;
    }

    .home .section .highlights .highlight div {
        width: 98px;
        min-width: 98px;
        height: 98px;
        min-height: 98px;
    }

    .home .section .highlights .highlight h1 {
        font-size: 16px;
        font-weight: 500;
    }

    .home .section .title {
        padding: 0;
    }

    .home .section .highlights {
        padding: 0 20px 0 0;
        column-gap: 20px;
    }

    .home .section .streamers{
        width: 100%;
        padding: 0 20px;
        display: grid;
        gap: 20px;
        row-gap: 11px;
        margin: 0 0 20px 0;
    }

    footer .baseboard {
        padding: 15px 30px;
    }

    footer .baseboard hr {
        height: 125px;
        margin: 0 15px;
    }

    footer .baseboard section h1 {
        font-size: 18px;
        margin: 0 0 8px 0;
    }    

    footer .baseboard section a {
        font-size: 16px;
    }

    footer .bottom {
        padding: 20px 25px 0 25px;
        flex-direction: row;
        justify-content: center;
    }

    footer .bottom p{
        order: 1;
        margin: 0;
        color: #FFF;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer .bottom p br{
        display: none;
    }

    footer .bottom img{
        order: 2;
        margin: 0 0 0 20px;
    }
}

/*Style +18 Popup*/
.container-age{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: linear-gradient(#514E53, #262F2F);
    z-index: 5;
    overflow-y: auto;
}

.container-age.verifiqued{
    display: none !important;
}

.container-age::-webkit-scrollbar{
    width: 0px;
}

.age{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 15px 10px;
    margin: auto 0;
    position: fixed;
    left: 0;
    top: 0;
}

.age img{
    width: 100px;
    min-width: 100px;
    height: 107px;
    min-height: 107px;
}

.age h1{
    color: #FFF;
    text-align: center;
    font-family: "Meera Inimai";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.age .infos{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.age .infos p{
    color: #C1BAC2;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.age label{
    width: unset;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.age label input{
    display: none;
}

.age label input:checked ~ div::before{
    opacity: 1;
}

.age label div{
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border: 1px solid #ECEAEC;
    background: #242426;
    position: relative;
    border-radius: 5px;
}

.age label div::before{
    content: '';
    opacity: 0;
    height: 9px;
    width: 6px;
    border-right: 2px solid #ECEAEC;
    border-bottom: 2px solid #ECEAEC;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: opacity .4s;
}

.age label p{
    color: #FFF;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.age label p a{
    color: #00B2FF;
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.age .actions{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.age .actions a{
    text-decoration: none;
}

.age .actions input{
    width: 145px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 4px;
    cursor: pointer;
    transition: background .4s;
}

.age .actions input:disabled{
    background: gray !important;
    color: #242426 !important;
    cursor: not-allowed !important;
}

.age .actions input:first-child{
    background: #50AD51;
}

.age .actions input:first-child:hover{
    background: #336e34;
}

.age .actions input:last-child{
    background: #940000;
}

.age .actions input:last-child:hover{
    background: #550101;
}

@media(min-width: 768px){
    .age {
        row-gap: 100px;
    }

    .age h1 {
        color: #FFF;
        text-align: center;
        font-family: "Meera Inimai", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .age .infos p{
        color: #C1BAC2;
        text-align: center;
        font-family: "Istok Web", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .age .actions {
        column-gap: 30px;
    }

    @media(max-width: 1439px) and (max-height: 735px){
        .age {
            height: 100%;
            row-gap: unset;
            justify-content: space-between;
        }
        @media(max-width: 1439px) and (max-height: 400px){
            .age {
                row-gap: 20px;
            }
        }
    }
}

@media(min-width: 1440px){
    .age {
        row-gap: 80px;
    }

    .age img{
        width: 200px;
        min-width: 200px;
        height: 214px;
        min-height: 214px;
    }

    .age h1 {
        color: #FFF;
        text-align: center;
        font-family: "Meera Inimai", sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .age .infos br{
        display: none;
    }

    .age .infos p{
        color: #C1BAC2;
        text-align: center;
        font-family: "Istok Web", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .age .actions input{
        height: 60px;
        line-height: 66px;
    }
    @media(min-width: 769px) and (max-height: 750px){
        .age{
            height: 100%;
            justify-content: space-between;
            row-gap: unset;
        }
        @media(min-width: 769px) and (max-height: 480px){
            .age{
                height: unset;
                row-gap: 20px;
            }
        }
    }
}

/*Stryle Welcome Popup*/
.container-welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    background-image: linear-gradient(#514E53, #262F2F);
    z-index: 4;
}

.container-welcome.verifiqued{
    display: none;
}

.container-welcome::-webkit-scrollbar{
    width: 0;
}

.welcome{
    width: 100%;
    margin: auto 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    position: fixed;
    left: 0;
    top: 0;
}

.welcome span{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    transition: color .4s;
}

.welcome span:hover{
    color: #940000;
}

.welcome div{
    display: flex;
    align-items: center;
    margin: 60px 0 0 0;
}

.welcome div h1{
    color: #FFF;
    text-align: center;
    font-family: "Antic Didone", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome div img{
    width: 60px;
    min-width: 60px;
    height: 64px;
    min-height: 64px;
    margin: 0 0 0 10px;
}

.welcome p{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.welcome a{
    text-decoration: none;
}

.welcome a input{
    width: 250px;
    height: 60px;
    border-radius: 9px;
    border: none;
    background: #50AD51;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin: 0 0 20px 0;
    transition: background .4s;
}

.welcome a input:hover{
    background: #336e34;
}

@media(max-width: 360px) and (max-height: 480px){
    .welcome{
        height: 100%;
        row-gap: unset;
        justify-content: space-between;
    }
    @media(max-width: 360px) and (max-height: 400px){
        .welcome{
            height: unset;
            row-gap: 20px;
        }
    }
}

@media(min-width: 768px){
    .container-welcome{
        padding: 20px;
        background: #00000080;
    }

    .welcome{
        height: 100%;
        max-height: 640px;
        max-width: 360px;
        position: relative;
        border-radius: 30px;
        background-image: linear-gradient(#514E53, #262F2F);
        justify-content: center;
    }

    @media(max-width: 1439px) and (max-height: 550px){
        .welcome{
            justify-content: space-between;
            row-gap: unset;
        }

        @media(max-width: 1439px) and (max-height: 450px){
            .welcome{
                row-gap: 20px;
                overflow-y: auto;
            }

            .welcome::-webkit-scrollbar{
                width: 0px;
            }
        }
    }
}

@media(min-width: 1440px){
    .welcome{
        height: 100%;
        max-height: 420px;
        max-width: 730px;
        padding: 60px;
        row-gap: unset;
        justify-content: space-between;
    }

    .welcome div{
        margin: 0;
    }

    .welcome span{
        top: 52px;
        right: 28px;
    }

    .welcome a input{
        margin: 0;
    }

    @media(min-width: 769px) and (max-height: 430px){
        .welcome{
            overflow-y: auto;
            height: 100%;
            justify-content: space-between;
            row-gap: unset;
            padding: 20px 0;
        }

        .welcome::-webkit-scrollbar{
            width: 0;
        }

        .welcome span{
            top: 29px;
        }
        @media(min-width: 769px) and (max-height: 340px){
            .welcome{
                row-gap: 20px;
            }
        }
    }
}

/*Style Login Popup*/
.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    border: 1px solid #fff;
    overflow-y: auto;
    z-index: 3;
}

.container-login.ocult{
    display: none;
}

.container-login::-webkit-scrollbar{
    width: 0;
}

.login{
    width: 100%;
    height: 100%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    row-gap: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.login #close{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    transition: color .4s;
}

.login #close:hover{
    color: #940000;
}

.incorrect{
    font-size: 12px;
    color: red;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 10px 0 0 0;
}

.incorrect.oculted{
    display: none;
}

.login img{
    width: 100px;
    min-width: 100px;
    height: 107px;
    min-height: 107px;
}

.login h1{
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login div{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.login div input{
    height: 45px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 19px 10px;
    background: #242426;
    border: none;
}

.login div input:focus{
    outline: none;
    border: none;
}

.login div input:first-child{
    border-bottom: 1px solid #4B494B !important;
    border-radius: 20px 20px 0 0;
}

.login div input:nth-child(2){
    border-top: 1px solid #4B494B !important;
    border-radius: 0 0 20px 20px;
}

.login div input::placeholder{
    color: #C1BAC2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login a{
    color: #FFF;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.login label{
    width: unset;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.login label input{
    display: none;
}

.login label input:checked ~ div::before{
    opacity: 1;
}

.login label div{
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border: 1px solid #ECEAEC;
    background: #242426;
    position: relative;
    border-radius: 5px;
    margin: 0;
}

.login label div::before{
    content: '';
    opacity: 0;
    height: 9px;
    width: 6px;
    border-right: 2px solid #ECEAEC;
    border-bottom: 2px solid #ECEAEC;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: opacity .4s;
}

.login label p{
    color: #FFF;
    font-family: 'Alatsi', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login label p a{
    color: #00B2FF;
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.login .b-login{
    height: 45px;
    min-height: 45px;
    width: 125px;
    border-radius: 10px;
    background: #0083CC;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: background .2s;
}

.login .b-login:hover{
    background: #016195;
}

@media(max-width: 767px) and (max-height: 540px){
    .login{
        height: 100%;
        padding: 10px 10px;
        row-gap: unset;
        justify-content: space-between;
    }

    @media(max-width: 767px) and (max-height: 460px){
        .login img {
            width: 60px;
            min-width: 60px;
            height: 67px;
            min-height: 67px;
        }

        .login h1 {
            display: none;
        }

        .login div input {
            height: 40px;
        }

        @media(max-width: 767px) and (max-height: 380px){
            .login{
                row-gap: 20px;
            }
        }
    }
}

@media(min-width: 768px){
    .container-login{
        background: #00000090;
        border: none;
    }

    .login{
        height: unset;
        max-width: 360px;
        background: #000;
        border-radius: 30px;
        row-gap: 20px;
        padding: 60px 15px;
    }
    @media(max-width: 1439px) and (max-height: 660px){
        .container-login{
            padding: 15px 20px;
        }

        .login{
            height: 100%;
            justify-content: space-between;
            row-gap: 0;
            padding: 20px 15px;
        }

        @media(max-width: 1439px) and (max-height: 550px){
            .login h1{
                font-size: 20px;
            }

            @media(max-width: 1439px) and (max-height: 520px){
                .login h1{
                    display: none;
                }
                
                .login div input {
                    height: 40px;
                }

                .login img {
                    width: 60px;
                    min-width: 60px;
                    height: 67px;
                    min-height: 67px;
                }

                @media(max-width: 1439px) and (max-height: 410px){
                    .login{
                        padding: 10px 15px;
                    }

                    @media(max-width: 1439px) and (max-height: 390px){
                        .login{
                            padding: 20px 15px;
                            row-gap: 20px;
                            overflow-y: auto;
                        }

                        .login::-webkit-scrollbar{
                            width: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1440px){
    .login{
        padding: 55px 15px 40px;
        row-gap: 40px;
    }

    .login img{
        width: 200px;
        min-width: 200px;
        height: 214px;
        min-height: 214px;
    }

    .login h1{
        color: #FFF;
        font-family: 'Kodchasan', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @media(min-width: 769px) and (max-height: 880px){
        .container-login{
            padding: 45px 15px;
        }

        .login{
            height: 100%;
            row-gap: unset;
            justify-content: space-between;
        }

        @media(min-width: 769px) and (max-height: 770px){
            .container-login{
                padding: 20px 15px;
            }

            .login{
                padding: 20px 15px;
                height: 100%;
                row-gap: unset;
                justify-content: space-between;
            }

            @media(min-width: 769px) and (max-height: 650px){
                .login img{
                    width: 100px;
                    min-width: 100px;
                    height: 107px;
                    min-height: 107px;
                }

                .login h1{
                    font-size: 32px;
                }

                @media(min-width: 769px) and (max-height: 550px){
                    .login h1{
                        font-size: 20px;
                    }
        
                    @media(min-width: 769px) and (max-height: 520px){
                        .login h1{
                            display: none;
                        }
                        
                        .login div input {
                            height: 40px;
                        }
        
                        .login img {
                            width: 60px;
                            min-width: 60px;
                            height: 67px;
                            min-height: 67px;
                        }
        
                        @media(min-width: 769px) and (max-height: 410px){
                            .login{
                                padding: 10px 15px;
                            }
        
                            @media(min-width: 769px) and (max-height: 390px){
                                .login{
                                    padding: 20px 15px;
                                    row-gap: 20px;
                                    overflow-y: auto;
                                }
        
                                .login::-webkit-scrollbar{
                                    width: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Animations */
@keyframes rotateContent {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}